/*==============================================================================
# CONTENT
==============================================================================*/

body {
  font-family: $openSans;
  background: $bloom;
  color: $apogee;
}

.locator {
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/*------------------------------------------------------------------------------
# INFOGRAPHIC
------------------------------------------------------------------------------*/

.infographic-container {
  .slide {
    background: $bloom;
  }

  .infographic-inner-wrapper {
    width: $contentWidth;
    margin: 0 auto 110px;
    height: 60vh;

    .infographic-image {
      width: 100%;
      height: 33.33%;
    }
  }
}



/*------------------------------------------------------------------------------
# SELECTION
------------------------------------------------------------------------------*/
::selection {
    //Opacity is a workaround to ensure highlight is opaque.
    background: rgba(darken( $desertNight, 1% ), 0.99);
    color: $apogee;
}
