/*==============================================================================
# TYPOGRAPHY
==============================================================================*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $lato;
  font-weight: 900;
  text-transform: uppercase;
}

p {
  font-size: 14pt;
  line-height: 150%;
}

.infographic-title {
  font-size: 5rem;
  text-align: center;

  span {
    color: #ff8fab;
    font-size: 3rem;
    margin-right: 3px;
  }
}
