/*=============================================================================
# VARIABLES
==============================================================================*/


/*------------------------------------------------------------------------------
# COLOURS
------------------------------------------------------------------------------*/
$bloom:         #fafaff;
$ezra:          #635da8;
$apogee:        #635da8;
$apolloLight:   #f5f4f6;
$apollo:        #c1cad6;
$apolloDark:    #909aa6;
$desertNight:   #222129;


/*------------------------------------------------------------------------------
# TYPEFACES
------------------------------------------------------------------------------*/
$lato: 'Lato', sans-serif;
$openSans: 'Open Sans', sans-serif;


/*------------------------------------------------------------------------------
# DIMENSIONS and PROPERTIES
------------------------------------------------------------------------------*/
$contentWidth: 500px;
